/* GLOBAL */
:root {
  --main-font: 'Junicode', Times, serif;
  --sans: "CircledNo", Arial, Helvetica, serif;
  --primary-color: #E3E3E3;
  --secondary-color: #FF3C3C;
  --thin-border: 1.5px solid var(--primary-color);
  --spacing: 1rem 1.5rem;

  --real-vh: 100vh;
 }
 
 @font-face {
  font-family: "Junicode";
  font-style: normal;
  src: url("assets/fonts/junicode-regular-webfont.woff") format("woff"),
}

@font-face {
  font-family: "CircledNo";
  src: url("assets/fonts/Circ-Regular.woff") format("woff");
}


 /* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: thin dotted;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

p {
  font-family: var(--sans);
}

/* STYLES */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  position: relative;
  font-family: var(--main-font);
  background: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
  
h1.title {
  padding-top: 1rem;
}

section {
  padding-top: 30vh;
}

h3 {
  padding-top: 1rem;
  font-size: 1.3rem;
  position: fixed;
  bottom: 13px;
  left: 15px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.2rem;
  font-weight: 600;
}

figure.book {
  width: 150px;
  text-align: center;
}

.pin figure {
  display: flex;
  max-width: 200px;
  position: fixed;
  bottom: 13px;
  right: 20px;
  left: unset; 
}

.pin figcaption {
  transform: translateX(-7px);
  font-size: 1.5rem;
}
ol, ul {
  counter-reset: list;
  position: relative;
  list-style: none;
}

ol li {
  font-style: italic;
  padding-top: 1rem;
  font-size: 1.6rem;
}


.ellipses-loader {
  animation: ellipses-loader 2s linear infinite;
}

@keyframes ellipses-loader {
  0% { clip-path: inset(0 100% 0 0) }
  24.9% { clip-path: inset(0 100% 0 0) }
  25% { clip-path: inset(0 66% 0 0) }
  49.9% { clip-path: inset(0 66% 0 0) }
  50% { clip-path: inset(0 33% 0 0) }
  74.9% { clip-path: inset(0 33% 0 0) }
  75% { clip-path: inset(0 0 0 0) }
  100% { clip-path: inset(0 0 0 0) }
}


@media screen and (max-width: 500px) {
 h3 {
  max-width: 55vw;
  text-align: left;
 }

 .pin figure {
  max-width: 40vw;
 }

}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 98vw;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:active .tooltiptext {
  visibility: visible;
}